<!-- // Author:- Sesha Sai
// File:-quiz-game.html
// Purpose:-The view of Quiz Component -->
<div class="image">
    <div class="row">
        <div class="col-md-10">
            <div class="circle mt-4 ">
                <h1 class="timer">{{timer}}</h1>
            </div>
            <div class="container dashboard">
                <div class="row">
                    <div class="quesntion">
                        <h1 class="text-light ml-3">Q) {{question}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-1  option" *ngFor="let opt of options,index as i">
                        <div (click)="getAnswer(opt,id,'selected')">
                            <h4 class="text-light m-1">{{i+1}}. {{opt}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="life">
                <button class="mt-1 mb-2 btn btn-primary btn-circle btn-lg " [ngClass]="{disabled:isFifty}" (click)="fiftyFifty()">
                    <i *ngIf="isFifty" class="fa fa-times lifeCross" aria-hidden="true"></i>
                    50-50</button>
                <button class="btn btn-primary btn-circle btn-lg  mt-1 mb-2 " [ngClass]="{disabled:isCall}" data-toggle="modal" data-target="#exampleModalLong" (click)="callAFriend()">
                    <i *ngIf="isCall" class="fa fa-times lifeCross" aria-hidden="true"></i>
                    <i class="fa fa-phone" aria-hidden="true"></i></button>
                <button class="btn btn-primary btn-circle btn-lg  mt-1 mb-2  " [ngClass]="{disabled:isPoll}" data-toggle="modal" data-target="#exampleModal" type="submit" (click)="poll()">
                    <i *ngIf="isPoll" class="fa fa-times lifeCross" aria-hidden="true"></i>
                    <i class="fa fa-users" aria-hidden="true"></i></button>

            </div>
            <div class="level-box ">
                <div class=" ml-2 " *ngFor="let money of amount,index as i">
                    <div class="money" [ngClass]="cash<i ? 'text-warning':'text-light'" [ngStyle]="{'background-color':i===cash ? '#ecc904' : ''}">
                        {{money | currency:'INR'}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Poll -->
<div class="modal fade" data-backdrop="static" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User Poll</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true" >&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body justify-content-center">
                        <div class="progress progress-bar-vertical " *ngFor="let opt of options,index as i">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'height': opt===answer ? '70%':'10%'}"></div>
                        <h5 class="progressOption">{{i}}</h5>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



<!-- Call a Friend -->
<div class="modal fade mt-2" data-backdrop="static" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Call to a friend</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true" >&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>A friend says ...</p>
                <p>that Answer is...</p>
                <p>...{{answer}}</p>
            </div>

        </div>
    </div>
</div>
