.image {
    min-height: 100vh;
    width: 100%;
    background-image: url('../../assets/milliionaire.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: darkblue
}
.quesntion {
    margin: auto;
    border: 3px solid rgb(167, 111, 111);
    background-color: #000;
    border-radius: 15px 50px;
    box-shadow: 0px 0px 13px 2px rgb(0, 0, 0);
    width: 100%;
}
.timer{
    margin: 68px;
    color: white;
}
.life{
    display: inline;
}
.life button{
    border-radius: 50%;
}
.dashboard{
    position: absolute;
    bottom: 0;
}
.option {
    margin: auto;
    border: 2px solid rgb(167, 111, 111);
    background-color: #000;
    border-radius: 15px 50px;
    width: 25%;
    cursor: pointer;
}

.option:hover{
    background: green ;
}

.circle {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    border: 6px solid rgb(167, 111, 111);
    text-align: center;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 700;
    // margin: auto;
    position: absolute;
    right:31%;
}

.level-box {
    min-height: max-content;
    border: 3px solid rgb(167, 111, 111);
    width: 250px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 2px rgb(0, 0, 0);
}

.money {
    border-radius: 25px;
    font-size: larger;
    font-weight: bold;
    padding: 2px;
    width: 170px;
    
}
.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.progress-bar-vertical {
    width: 20px;
    min-height: 300px;
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
    float: left;
  }
  
  .progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
  }
  