// Author:- Sesha Sai
// File:-players-list.scss
// Purpose:-The styles of players-list Component
.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    min-height: 100%;
    padding: 20px;
    box-shadow:0px 0px 13px 2px  ;
    border-radius: 10px;
}
.tabelHead{
   border-bottom: 1px solid black;; 
}
h5{
   text-transform: capitalize; 
}