<div class="wrapper mt-3">
    <!-- <div class="row tabelHead" >
        <div class="col">
        <h3> Player Name</h3> 
        </div>
        <div class="col">
            <h3> Points</h3> 
        </div>
      </div>
      <div class="row mt-1" *ngFor='let player of players'>
        <div class="col">
            <h5 ></h5> 
           
        </div>
        <div class="col">
            <h5> </h5> 
            
        </div>
      </div> -->

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Player Name</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let player of players'>
            <td>{{player.name}}</td>
            <td>{{player.points}}</td>
          </tr>
         
        </tbody>
      </table>
    
</div>
