<nav class="navbar navbar-expand "  >
    <h3>Millionaire</h3>
    <ul class="navbar-nav ml-auto">
        <button  class="btn  " routerLink='/' >
            <i class="fa fa-lg fa-play" data-toggle="tooltip" data-placement="bottom" title="Play" aria-hidden="true"></i>
        </button>
        <button  class="btn   ml-1 " routerLink='/persons' >
            <i class="fa fa-lg  fa-bars" data-toggle="tooltip" data-placement="bottom" title="List" aria-hidden="true"></i>
        </button>
        <button class="btn   ml-1 " routerLink='/add-question'>
            <i class="fa fa-lg fa-plus" data-toggle="tooltip" data-placement="bottom" title="Add Question" aria-hidden="true"></i>
        </button>
    </ul>
</nav>
<div >
    <router-outlet></router-outlet>
</div>

