<nav class="navbar navbar-expand bg-primary" style="position: sticky;top: 0;z-index: 9999;" >
    <h3>Crorepati Game</h3>
    <ul class="navbar-nav ml-auto">
        <button  class="btn btn-primary btn-circle "style="border-radius: 50%" routerLink='/' >
            <i class="fa fa-lg fa-play" data-toggle="tooltip" data-placement="bottom" title="Play" aria-hidden="true"></i>
        </button>
        <button  class="btn btn-primary btn-circle "style="border-radius: 50%" routerLink='/persons' >
            <i class="fa fa-lg  fa-bars" data-toggle="tooltip" data-placement="bottom" title="List" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary btn-circle  ml-1 "style="border-radius: 50%" routerLink='/add-question'>
            <i class="fa fa-lg fa-plus" data-toggle="tooltip" data-placement="bottom" title="Add Question" aria-hidden="true"></i>
        </button>
    </ul>
</nav>
<div >
    <router-outlet></router-outlet>
</div>

